:root {
  --primary: #2e7d32;
  --primary-light: #4caf50;
  --secondary: #ffc107;
  --dark: #1e293b;
  --light: #f5f5f5;
  --accent: #8bc34a;
  --bg-primary: #f8f9fa;
  --bg-secondary: #e8f5e9;

  --text: #2e7d32;
  --text-secondary: #555;
  --muted: #6b7280;

  --card: #ffffff;
}

.team-section {

margin-top: 40px;
  margin-bottom: 15px;
}


/* Team grid */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  
}

/* Member card */
.team-member {
  background: var(--card);
  text-align: center;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.3s;
  height: 150px;
}

.team-member:hover {
  transform: translateY(-5px);
}

/* Image */
.member-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Text */
.member-name {
  font-weight: 600;
  font-size: 15px;
  color: var(--dark);
  margin-top: 15px;
  margin-bottom: 10px;
}

.member-role {
  font-size: 13px;
  color: var(--primary);
  margin-bottom: 10px;
}

.member-contact p {
  font-size: 14px;
  color: var(--text-secondary);
  margin: 3px 0;
  
}

/* Emergency */
.emergency-contact {
  margin-top: 35px;
  padding: 18px;
  border-radius: 12px;
  background: #dcfce7;
  text-align: center;
   height: 185px;
}

.emergency-contact h3{
     margin-top: 15px;
    font-size: 26px;
     color: var(--dark);
}

.emergency-number {
  font-size: 24px;
  font-weight: bold;
  color: #15803d;
   margin-top: 15px;
  margin-bottom: 10px;
}

.emergency-text {
  font-size: 13px;
  color: var(--muted);
  margin-top: 15px;
  margin-bottom: 15px;
}