* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, rgb(235, 234, 234), rgb(242, 243, 242));
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    padding: 0px 0px;
}
.container {
    display: flex;             
    flex-direction: row;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 0px 0px;
    box-shadow: 0 0 15px rgba(7, 7, 7, 0.1);
    min-height: 100vh;
}
.image-section {
    flex: 0.5;
}
.desktop-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.mobile-img {
    display: none;
}
.form-section {
    flex: 0.5;
    padding: 20px 30px;
}
.form-box {
    display: none;
}
.form-box.active {
    display: block;
}
.signup {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px 0px 30px 0px;
}
.input-group {
    margin: auto 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #c1c2c1;
    border-radius: 8px;
    outline: none;
}
.input-field input:focus {
    border-color: rgb(27, 54, 23);
}
.input-field label span.required {
    color: red;
    margin-left: 2px;
    font-weight: bold;
}
.create-account {
    margin: auto 60px;
}
.create-account button{
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 8px;
    background: #2e7d32;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.create-account button:hover{
    transform: scale(1.05);
}
.create-account button i {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.create-account button:hover i {
    transform: translateX(5px);
}
.have-account{
    margin: 10px 0px 25px 0px;
    font-size: 16px;
    text-align: right;
}
.btn-group {
    margin: 15px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 5px;               
    border-radius: 8px;  
}
.btn-group button {
    flex: 1;
    background: transparent;
    border: none;
    padding: 12px 12px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}
.btn-group button.active {
    background-color: #2e7d32;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(76, 175, 80, 0.3);
    transform: translateY(-1px);
    outline: 2px solid #2e7d32;
    outline-offset: 2px;
}
.btn-group button.active:hover {
    color: #fff;
}
.btn-group button:hover {
    color: #2e7d32;
    transform: translateY(-1px);
}
.form-invalid {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .image-section {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }

    .desktop-img {
        display: none; 
    }

    .mobile-img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .form-section {
        width: 100%;
        padding: 0 15px;
    }
    .btn-group {
        gap: 8px;
    }
    .have-account {
        font-size: 18px;
    }
    .btn-group button {
        font-size: 18px;
        padding: 12px;
    }
    .input-group {
        gap: 20px;
    }
    .input-field label, .input-field input {
        font-size: 18px;
    }
    .create-account button {
        font-size: 18px;
        padding: 12px;
    }
}
@media (max-width: 480px) {
    body {
        padding: 0px;
        height: auto;
        align-items: flex-start; 
    }

    .container {
    flex-direction: column;
    }
    .image-section {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }

    .desktop-img {
        display: none; 
    }

    .mobile-img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .input-group {
        margin: auto 30px;
    }
    .form-section {
        width: 100%;
        padding: 0 15px;
    }
    .btn-group {
        flex-direction: row;
        gap: 10px;
        width: auto;
        margin: 20px 30px;
        justify-content: center;
    }

    .btn-group button {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        border-radius: 6px;
    }

    .signup h1 {
        font-size: 22px;
    }

    .input-field input {
        padding: 10px;
        font-size: 14px;
    }
    .create-account {
        margin: auto 30px;
    }
    .create-account button {
        width: 100%;
        margin: 15px 0 5px 0;
        padding: 12px;
        font-size: 15px;
        border-radius: 6px;
        margin-bottom: 20px;
    }

    .have-account {
        font-size: 14px;
    }
}
