.error_wrapper {
  display: flex;
  justify-content: center;   /* center horizontally */
  margin-top: 80px;  
  margin-bottom: 80px;        /* add spacing from top */
}

.error_card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

.error_icon {
  background: #e6f9ec;
  color: #ee2d18;
  font-size: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  font-size:30px;
}

p {
  color: #666;
  margin-bottom: 20px;
  font-size: 18px;
}

.sucess {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.error_btn-primary {
  background: #ee2d18;
  color: white;
}

.error_btn-primary:hover {
  background: #ee2d18;
}

.error_btn-secondary {
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
}

.error_btn-secondary:hover {
  background: #f1f1f1;
}
